body{
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.card {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    text-align: center;
    padding: 30px;

}

.img { 
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

#name {
    color: white;
}

#location{
    color:#cbf144;
}

#description {
    color: white;
    
}

.links p {
    color:white;
    background-color: #333333;

    border-radius: 10px;
    width: 100%;
    height: 30px;
}

.links p:hover {
    background-color: #C3F928;
}

