* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main-header {
  height: 700px;
  background-image: url("../../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9vh 11vw;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.main-navigation {
  font-family: Alata;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78vw;
  z-index: 2;
}
.main-navigation img {
  z-index: 2;
}
.main-navigation button {
  z-index: 2;
}
.main-navigation .links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.main-header-text {
  font-family: Josefin Sans;
  color: hsl(0, 0%, 100%);
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem;
  margin-top: 10%;
  min-height: fit-content;
  width: 700px;
  border: 3px solid hsl(0, 0%, 100%);
}

.vr-section {
  background-color: hsl(0, 0%, 100%);
  padding: 9vh 11vw;
  height: 700px;
}
.vr-section img {
  display: none;
}
.vr-section .vr-image {
  position: relative;
  background-image: url("../../images/desktop/image-interactive.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100%;
}
.vr-section .vr-image .vr {
  position: absolute;
  right: -20%;
  bottom: 0px;
  background-color: hsl(0, 0%, 100%);
  padding: 4rem 0px 0px 4rem;
  width: 500px;
  height: 300px;
}
.vr-section .vr-image .vr .vr-header {
  text-transform: uppercase;
  font-family: Josefin Sans;
  font-size: 3rem;
  font-weight: 300;
}
.vr-section .vr-image .vr .vr-description {
  margin-top: 1rem;
  font-family: Alata;
  color: hsl(0, 0%, 55%);
}

.creations {
  padding: 9vh 11vw;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Josefin Sans;
}
.top-bar .header {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

.see-all {
  font-family: Josefin Sans;
  border: none;
  text-transform: uppercase;
  outline: 2px solid black;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
}

#see-all-bottom {
  display: none;
}

.creation_items {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: ". . . ." ". . . .";
  gap: 1rem;
}

.item {
  position: relative;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 100%;
}
.item .item-name {
  position: absolute;
  font-family: Josefin Sans;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  bottom: 7%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 40%;
  text-align: left;
  font-weight: 300;
  font-size: 1.5rem;
}

footer {
  padding: 5vh 11vw;
  background-color: hsl(0, 0%, 0%);
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .socials {
  display: flex;
  gap: 1rem;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-family: Alata;
}
footer .footer-bottom ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
footer .footer-bottom .rights {
  color: hsl(0, 0%, 85%);
}

@media (max-width: 830px) {
  #see-all-bottom {
    display: none;
  }
  .btn.active {
    display: block;
  }
  :root {
    font-size: 12px;
  }
  .main-header .main-navigation .links {
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    overflow: hidden;
    transition: all 100ms ease-out;
  }
  .main-header .main-navigation .links.hidden {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: Josefin Sans;
    text-transform: uppercase;
    font-size: 2rem;
    gap: 2rem;
    left: 0;
    top: 0;
    padding-left: 11vw;
    padding-top: 40vh;
  }
  .main-header .main-header-text {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 40%;
  }
  .vr-section img {
    display: block;
    width: 100%;
  }
  .vr-section .vr-image {
    background-image: none;
    width: 100%;
    height: fit-content;
    aspect-ratio: 1;
  }
  .vr-section .vr-image .vr {
    position: static;
    width: 100%;
    height: fit-content;
    padding: 4rem 0px 0px 0px;
    right: "";
    bottom: "";
  }
  .creation_items {
    grid-template-areas: ". ." ". ." ". ." ". .";
  }
  .main-header {
    background-image: url("../../images/mobile/image-hero.jpg");
  }
}
@media (max-width: 500px) {
  .main-header, .vr-section, .creations {
    padding: 5vh 7vw;
  }
  .main-navigation {
    width: 86vw;
  }
  .vr {
    text-align: center;
  }
  .main-header .main-navigation .links.hidden {
    padding-left: 7vw;
  }
  .top-bar {
    justify-content: center;
  }
  .top-bar .header {
    text-align: center;
  }
  #see-all-top {
    display: none;
  }
  #see-all-bottom {
    justify-self: center;
    display: block;
    margin-top: 2rem;
  }
  .creation_items {
    grid-template-areas: "." "." "." "." "." ".";
  }
  .item img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
  footer .footer-top {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-top .socials {
    margin-top: 2rem;
    flex-direction: column;
  }
  footer .footer-bottom {
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */