:root {    
    --main-background :hsl(185, 41%, 84%);
    --text-color-1:hsl(172, 67%, 45%);
    --inner-background : hsl(183, 100%, 15%);
    --reset-button-background-color : hsl(186, 14%, 43%);
    --input-background-color : hsl(189, 47%, 97%);


    --off-reset-button : #0D686D;
    --main-font-family : "Space Mono"
}


/* =============================
    removing arrows from the input form
   =============================
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: var(--main-background);
    font-family: var(--main-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 90vh;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /*Standard syntax*/
}

input{
    font-family: var(--main-font-family);    
}


/* =============================
    main layout of the container
   =============================
*/
.main-div {
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    gap: 3rem;
    max-width: 850px;
}
/* =============================
   the info div main layout
   =============================
*/
.main-div .info-div {
    background-color: var(--inner-background);
    padding: 2rem 1.5rem;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.main-div .info-div span {
    color: var(--text-color-1);
}

.main-div .info-div .amounts {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.main-div .info-div .amounts .inner{
}

.main-div .info-div .amounts .inner .first {
    color: white;
    font-weight: 700;
    font-size: .875rem;
}

.main-div .info-div .amounts .inner .second {
    color: hsl(184, 14%, 56%);
    font-size: .75rem;
}

.main-div .info-div .amounts .price{
    font-size: 2.5rem;
    font-weight: 700;
}



/* =============================
    the reset button styling
   =============================
*/.main-div .info-div #reset-button {
    width: 100%;
    margin-top: 50% ;
    font-weight: 700;
    color: white;
    background-color: var(--off-reset-button);
    color: var(--inner-background);
    border: none;
    padding: 1rem .5rem;
    border-radius: .5rem;
}

.main-div .info-div #reset-button:hover {
    cursor: pointer;
    background-color: var(--text-color-1);
    transition: .5s all;

}


/* =============================
    input div main styling
   =============================
*/

/* =============================
    grid items fix
    =============================
*/
.main-div .input-div .main-grid {
    display: grid;
    gap: .7rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
}

.main-div .input-div .main-grid .item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inner-background);
    padding: .25rem .5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}


.main-div .input-div .main-grid .item input[type="radio"]:checked + label{
    /* background-color: green;    */
}


.main-div .input-div .main-grid .item:not(.input-radio)  input{
    opacity: 0;
    display: none;
}

.main-div .input-div .main-grid .input-radio input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inner-background);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.main-div .input-div .main-grid .input-radio input:focus {
    outline: none;
}

/* =============================
    input bill amout styling
    =============================
*/
.main-div .input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    flex: 1 1 0px;
}

.main-div .input-div input {
    padding: .6rem .5rem;
    width: 100%;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background-color: var(--input-background-color);
    color: var(--inner-background);
    border-radius: .5rem;
}

.main-div .input-div .input-text-bill-amount , .input-text-number-of-people, .select-tip {
    position: relative;
    display: block;
    color: var(--reset-button-background-color);
    font-weight: 600;
    margin-bottom:.5rem ;
}

#dollor-sign, #people-sign{
    position: absolute;
    top: 35%;
    left: 5%;
}

.main-div .input-div input:focus {
    outline: 3px solid var(--main-background);
}

.inner  {
    display: flex;
    justify-content: space-between;
    color: var(--reset-button-background-color);
    font-weight: 600;
    margin-bottom:.5rem ;
}

.inner .error-text-number-of-people {
    color: rgb(218, 83, 83);
    display: none;
}



@media screen and (max-width:830px){
    
    body {
        padding: 4rem 0rem;
        height: 100%;
    }
    
    .main-div {
        flex-direction: column;
    }
}

