body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightcyan;
}

.accordion {
  width: 65%;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}

.accordion .accordion_title {
  margin-bottom: 30px;
  text-align: center;
}

.accordion .content-container .question {
  padding: 18px 0;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  position: relative;
}

.accordion .content-container .question::after {
  content: '+';
  position: absolute;
  right: -5px;
}

.accordion .content-container .answer {
  padding-top: 15px;
  height: 0;
  font-size: 22px;
  line-height: 1.5;
  overflow: hidden;
  transition: 0.5s;
}

/* Active state */
.accordion .content-container.active .answer {
  height: 150px;
}

.accordion .content-container.active .question {
  font-size: 18px;
  transition: 0.5s;
}

.accordion .content-container.active .question::after {
  content: '-';
  font-size: 30px;
  transition: 0.5s;
}
