@import "config";
@import "utils";
@import "buttons";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}

a {
    text-decoration: none;

}


.showcase {
    @include set-background($primary-color);
    height: 600px;
    width: 100%;
    
    a {
        color: set-text-color($primary-color);
        font-weight: 600 ;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        ul {
            display: flex;
            list-style: none;
        }
        
        li {
            padding: 15px;
        }
        
        a:hover{
            color : $secondary-color;
        }

    }


    &-content{
        height: 100%;
        display: flex;
        margin-top: 10%;
        align-items: center;
        justify-content: center;  

        img {
            width: 50%;
        }
           
    }    
}

img {
    width: 100%;   
}

