html {
    font-size:32px;
}

body { 
    padding-top:20px 20% 20px 20%;
    background-color: lightblue;    
    text-align: center;
    
}

.container {
    display: flex;
    padding: 20px;
}

.col-em {
    width: 50%;
    font-size: 32px;
}

.col-em h1 {
    font-size: 1rem;
    margin-bottom: 5rem;
}

.col-em p {
    font-size: 1rem;
}

.col-rem {
    width: 50%;
}

.call-action{
    font-size: 1em;
    background: linear-gradient(to right  ,blue , red); 
}

.btn {
    padding: 1rem 3rem;
}

.btn-small {
    font-size: 0.5rem;
}

.btn-lrg{
    font-size: 2rem;
}

@media (min-width:700px){
    html {
        font-size:40px ;
    }
}
