body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    padding:1rem;
    display: flex;
    height: 50vh;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: lightgrey;

}

.container .boxes {
    background-color :lightcyan;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
}


button {
    border: 0px;
    padding: 1rem 0;
    border-radius:1rem ;
}
