body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    padding:1rem;
    display: flex;
    height: 50vh;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: lightgrey;

}

div {
    display: flex;
    justify-content: center;
    padding: 10rem;
    border: 10px solid black;
    max-width: 10vw;
}


.button {
    border: 1px solid red;
    padding: 1rem;
    display: block;
}