body {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction:column ;
    height: 90vh; 
}

ul {    
}
li {
    border-radius: 1rem ;
    text-align: center;
    width: 15vw;
    margin-bottom: 1rem;
    background-color: lightblue;
    padding: 1rem;
    list-style: none;
}
.container {
    padding:1rem;
    display: flex;
    height: 50vh;
    border-radius: 2rem;
    justify-content: center;
    /* align-items: center; */
    flex-direction:column ;
    gap: 1rem;
    background-color: lightgrey;
    width: 50vw;
}

.item {
    
    border-radius: 1rem;
    text-align: center;
    background-color: lightblue;
    padding: 1rem;
}