body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #040615;
}

.cube {
    width: 100px;
    height: 100px;
    border: 6px solid #23FFF9;
    border-radius: 4px;
    box-shadow: 0 0 40px #23FFF9;

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-name: rotate;
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }


}

