@import "properties";

// reseting stuff
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
       
}

.main-header {
    height: 700px;
    background-image: url("../../images/desktop/image-hero.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    padding: 9vh 11vw;
}

// reseting links default stuff
a {
    text-decoration: none;
    color : $primary-white;
}

.main-navigation {
    font-family: $font-family-1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
        list-style: none;
        display: flex ;
        gap: 1rem;       
    }
}

// main-innner text for hero div
.main-header-text{
    font-family: $font-family-2;
    color : $primary-white;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    
    padding: 2rem;
    margin-top: 10%;
    min-height: fit-content;
    width: 700px ;
    border: 3px solid $primary-white;
}


// seocnd section styling (vr section)
.vr-section {
    background-color: $primary-white;
    padding: 9vh 11vw;
    height: 700px;
    
    .vr-image {
        position: relative;
        width: 50vw;

        img {
            width: 80%;
        }   

        .vr{
            position: absolute;

            // postioning 
            right: -20%;
            bottom: 0px;
            background-color : $primary-white;
            
            padding: 4rem 0px 0px 4rem;
            width: 500px;
            height: 300px;
            
            .vr-header {
                text-transform: uppercase;
                font-family: $font-family-2;
                font-size: 3rem;
                font-weight: 300;
            }

            .vr-description {
                margin-top: 1rem ;
                font-family: $font-family-1;
                color : darken($primary-grey, 30%);
            }
        }
    }
}



// creations styling 
.creations {
    padding: 9vh 11vw;
}

.top-bar {
    display: flex;
    align-items : center;
    justify-content: space-between;
    font-family: $font-family-2;
    
    .header {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 300;
    }
    
    #see-all {
        font-family: $font-family-2;
        border: none;
        text-transform: uppercase;
        outline: 2px solid black;
        background-color : transparent;
        padding: .5rem 1.5rem;
    }
}


.creation_items {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        ". . . ."
        ". . . .";
    gap: 1rem;
}

.item {
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .item-name {
            
        position: absolute;
        font-family: $font-family-2;
        text-transform: uppercase;
        color: $primary-white;
        bottom :7%;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: 35%;
        text-align: left;
        font-weight: 300;   
        font-size: 1.5rem;
    }
}



// footer styling 
footer {
    padding: 5vh 11vw;
    background-color : $primary-black;
    .footer-top {
        display: flex;
        justify-content: space-between;
        
        .socials{
            display: flex;
            gap: 1rem;
        }
    }  

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        font-family: $font-family-1;

        ul{
            list-style: none;
            display: flex ;
            gap: 1rem;       
        }

        .rights {
            color : $primary-grey;
        }
        
    }
}


