@import "properties";

// reseting stuff
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
       
}

.main-header {
    height: 700px;
    background-image: url("../../images/desktop/image-hero.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    padding: 9vh 11vw;
}

// reseting links default stuff
a {
    text-decoration: none;
    color : $primary-white;
}

.main-navigation {
    font-family: $font-family-1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex ;
        gap: 1rem;       
    }
}

// main-innner text for hero div
.main-header-text{
    font-family: $font-family-2;
    color : $primary-white;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    
    padding: 2rem;
    margin-top: 10%;
    min-height: fit-content;
    width: 700px ;
    border: 3px solid $primary-white;
}

// seocnd section styling (vr section)
.vr-section {
    background-color: $primary-white;
    padding: 9vh 11vw;
    height: 700px;
    position: relative;
    
    .vr{
        position: absolute;
        background-color : $primary-white;
        right: 30vw;
        padding: 5rem;
        bottom: 10vh;
        height: fit-content;
        width: 600px;  
        
        .vr-header {
            text-transform: uppercase;
            font-family: $font-family-2;
            font-size: 4rem;
            font-weight: 300;
        }
    }
}

