@import "properties";

// reseting stuff
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// removing the scroll bar
::-webkit-scrollbar {
    display: none;   
}

body {

}

.main-header {
    height: 700px;
    background-image: url("../../images/desktop/image-hero.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    padding: 9vh 11vw;
}

button {
    transition: all 200ms  ease-in-out;    
}

button:active {
    scale: 1.02;
    transform: translateY(3px);
}


// reseting links default stuff
a {
    text-decoration: none;
    color : $primary-white;
    transition: all .5s ease;
}

a:hover{
    color:darken($primary-grey, 50%);    
}


.main-navigation {
    font-family: $font-family-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    width: 78vw;
    z-index: 2;

    // z-index: 2;
    img {
        z-index: 2;
    }

    button {
        z-index: 2;
    }

    .links {
        list-style: none;
        display: flex ;
        gap: 1rem;       
    }

}

// buttons styling 
.btn {
    background-color : transparent;
    border : none;
    outline: none;
    display: none;
}


// main-innner text for hero div
.main-header-text{
    font-family: $font-family-2;
    color : $primary-white;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    
    padding: 2rem;
    margin-top: 10%;
    min-height: fit-content;
    width: 700px ;
    border: 3px solid $primary-white;
}

// seocnd section styling (vr section)
.vr-section {
    background-color: $primary-white;
    padding: 9vh 11vw;
    height: 700px;
    
    img {
        display: none;
    }

    .vr-image {
        position: relative;
        background-image : url("../../images/desktop/image-interactive.jpg");
        background-size : cover;
        background-repeat : no-repeat;
        width : 50vw;
        height: 100%;        
        
        .vr{
            position: absolute;

            // postioning 
            right: -20%;
            bottom: 0px;
            background-color : $primary-white;
            
            padding: 4rem 0px 0px 4rem;
            width: 500px;
            height: 300px;
            
            .vr-header {
                text-transform: uppercase;
                font-family: $font-family-2;
                font-size: 3rem;
                font-weight: 300;
            }

            .vr-description {
                margin-top: 1rem ;
                font-family: $font-family-1;
                color : darken($primary-grey, 30%);
            }
            
        }
    }
}

// creations styling 
.creations {
    padding: 9vh 11vw;
}

.top-bar {
    display: flex;
    align-items : center;
    justify-content: space-between;
    font-family: $font-family-2;
    
    .header {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 300;
    }
}


.see-all {
    font-family: $font-family-2;
    border: none;
    text-transform: uppercase;
    outline: 2px solid black;
    background-color : transparent;
    padding: .5rem 1.5rem;
}

#see-all-bottom {
    display: none;    
}

.creation_items {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        ". . . ."
        ". . . .";
    gap: 1rem;
}

.item {
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .item-name {
        position: absolute;
        font-family: $font-family-2;
        text-transform: uppercase;
        color: $primary-white;
        bottom :7%;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: 40%;
        text-align: left;
        font-weight: 300;   
        font-size: 1.5rem;
    }
}

// footer styling 
footer {
    padding: 5vh 11vw;
    background-color : $primary-black;

    .footer-top {
        display: flex;
        justify-content: space-between;
        
        .socials{
            display: flex;
            gap: 1rem;
        }
    }  

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        font-family: $font-family-1;

        ul{
            list-style: none;
            display: flex ;
            gap: 1rem;       
        }

        .rights {
            color : $primary-grey;
        }
        
    }
}




// media queries 
@media (max-width: 830px){
    
    #see-all-bottom {
        display: none;
    }
    
    
    .btn.active {
        display: block;
        // position: fixed;
        // right: 7vw;
    }
    
    :root {
        font-size: 12px ;
    }

    // #show-list {
    //     display: block;    
    // }
    
    // top navigation media query
    .main-header .main-navigation .links {
        position: fixed;
        left: 0;
        top: 0;  
           
        width: 0px;
        height: 100%;
        overflow: hidden;
        transition: all 100ms ease-out;
    }
    
    .main-header .main-navigation .links.hidden {
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color : $primary-black;
        position: fixed;
        display: flex;
        flex-direction: column;
        font-family: $font-family-2;
        text-transform: uppercase;
        font-size: 2rem;
        gap: 2rem;
        
       // position 
        left: 0;
        top: 0;
        padding-left: 11vw;
        padding-top:40vh ;
        // top: 40vh;
        // left: 7vw;
    }
    
    .main-header .main-header-text {
        width: 100%;
        font-size: 3rem;
        padding: 1rem;
        margin-top: 40%;
    }

    // vr part media query
    .vr-section {
        
        img {
            display: block;
            width: 100%;    
        }    

        .vr-image {
            
            background-image : none;    
            width: 100%;
            height: fit-content;
            aspect-ratio: 1;
                        
            .vr{
                position: static;
                width: 100%;
                height: fit-content;
                padding: 4rem 0px 0px 0px;
                right: '';
                bottom : '';
                
            }
        }   
    }    

    .creation_items {
        grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". .";    
    }
        
    // changing images to mobile images 
    .main-header {
        background-image : url('../../images/mobile/image-hero.jpg');   
    }   
}

@media (max-width: 500px){

    .main-header, .vr-section ,.creations{
        padding: 5vh 7vw;
    }
    
    .main-navigation {
        width: 86vw;
    }

    .vr {
        text-align: center;
    }
    .main-header .main-navigation .links.hidden {
        padding-left: 7vw; 
    }

    .top-bar {
        justify-content: center;    
    }

    .top-bar .header {
        text-align: center;
    }
    
    #see-all-top{
        display: none;
    }
    
    #see-all-bottom {
        justify-self: center;
        display: block;
        margin-top: 2rem;
    }
    
    
    .creation_items {
        grid-template-areas:
        "."
        "."
        "."
        "."
        "."
        ".";    
    }
    
    .item{
        img {
            width: 100%;
            object-fit: cover;
            height: 200px;
        }
    }
    
    footer {
        .footer-top {
            flex-direction: column;
            align-items: center;
            
            .socials {
                margin-top: 2rem;
                flex-direction: column;
            }
        }
        
        .footer-bottom {
            align-items: center;
            flex-direction: column;
        }
    }
}
