* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

#experience {
    position: fixed;
    height: 100%;
    width: 100%;
}

#experience-canvas {
    position: fixed;
    height: 100%;
    width: 100%;
}

