body {
    background-image: url('images/cute-fairytale-forest-landscape-scene/STUDIO\ PC\ 2086-16.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    margin:auto;
    padding:0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 30%;
    height: 100px;
    background-color: lightgray;

    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.main-container .add-task {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main-container .add-task input  {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.main-container .add-task button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.main-container .add-task img {
    width: 40px;
    height: 40px;
}

