/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    
    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
}

.col + .col {
    margin-left: 30px;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text { 
    width: 62%;
}

.hero__img {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero__img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.botom {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:5rem 10rem ;
}

.botom .left_side {
    width: 70%;
    padding: 1rem;
}

.botom .right_side {
    background-color: #136C72;
    width: 30%;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width:768px){
    .botom {
        flex-direction: column;
    }
    .botom .left_side {
    width: 100%;
    }

    .botom .right_side {
        width: 100%;
    }

}



