:root {
    --main_font:'Roboto';
    --big_font_size:3rem;
    --mid_font_size:1rem;
    --kinda_big_font_size:1.75rem;
    
    
    --font_color_1:#87629A;
    --background_color_1:#23424A;
    --background_color_2:#38CFD9;
    --background_color_3:#87629A;
    --background_color_4:#136C72;
}


body {
    font-family: var(--main_font);
    margin: 0px;
    height: 100vh;    
}


/*  ================================
    main div styling
    ================================
*/
.main_div {
    display: flex;
    background-color: #23424A;
    color:white;
    padding: 5rem;
    justify-content: space-around;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.image {
    width: 30%;
    margin-right: 10%;
    object-fit: cover;
}

.main_div .main_container h1 {
 font-size: var(--big_font_size);   
}

.btn {
    display: inline-block;

    text-decoration: none;
    color:black;
    border:1px solid var(--background_color_2);
    background-color: var(--background_color_2);        
   
    padding: .75em 2em;
    border-radius: 3rem;
    
    font-size: var(--mid_font_size);
    font-weight: 600;

    margin-top: 2rem;
}







