/* custom variables for ease  */
:root {

    /* primary colors */
    --primary-color-gray-1 : hsl(0, 0%, 63%);
    --primary-color-gray-2 : hsl(0, 0%, 27%); 

    --primary-font-family : "League Spartan";
}

body {
    font-family: var(--primary-font-family);
    height: 100%;
}

/* reseting stuff */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
===============================
top navigation bar 
===============================
*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color :white;
}

.navigation-bar {
    z-index: 1;
    top: 2rem;
    left: 3rem;
    position: fixed;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* upper hero styling  */
.top-hero {
    display: flex;
}


.top-hero .upper-left {
    position: relative;
    width: 55%;
}

.top-hero .upper-left img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.top-hero .upper-right {    
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 60%;
}

.item .item-header{
    font-size: 3rem   
}

.item .item-description {
    margin-top: 1.5rem;
    color : var(--primary-color-gray-1);
    font-size: 1.25rem;
}

.shop-now {
    margin-top: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;

    text-transform: uppercase;
    letter-spacing: .5rem ;
    font-size: .9rem;
    font-weight: 600;
}



/* buttons styling */
.navigation-buttons {
    position: absolute;
    display: flex;
    width: 100px;
    height: 60px;
    right: -100px;
    bottom: 0px;
    /* border: 1px solid red; */
}

.navigation-buttons button {
    width:50%;
    height:100%;    
    padding: 20%;
    border: none;
    background-color: black;
}


/* 
===============================
about section styling 
===============================
*/
.about {
    display: flex;
    align-items: center;
}

.about * {
    flex : 1 1 0px;
}

.inner-about {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}



