:root {
    --main-color-1 : #F3EED9;
    --main-color-2 : #824936;
    --main-color-3 : #222C2A;
}

body {
        
}

.item:first-child{
    background-color: var(--main-color-1);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 60vh;
}

.inner-container {
    max-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item:first-child .header {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5rem;
}

.item:first-child .main {
    margin-top: 1rem;
    font-family: Playfair;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color-2);
}

.item:nth-child(2){
    height: 20vh;        
}


.item:nth-child(2) .header {
    font-family: Playfair;
    font-size: 36px;
    font-weight: 700;
    color: ;
}