:root {
    --main_font:'Roboto';
    --big_font_size:3rem;
    --mid_font_size:1rem;
    --kinda_big_font_size:1.75rem;
    
    
    --font_color_1:#87629A;
    --background_color_1:#23424A;
    --background_color_2:#38CFD9;
    --background_color_3:#87629A;
    --background_color_4:#136C72;
}


body {
    font-family: var(--main_font);
    margin: 0px;
    height: 100vh;    
}


/*  ================================
    main div styling
    ================================
*/

.main_div {
    background-color: #23424A;
    color:white;
    padding: 5rem;
    /* padding: 3rem 0 3rem 3rem ; */
}

.main_div .main_container {
    width: 45%;
}

.main_div .main_container h1 {
 font-size: var(--big_font_size);   
}

.main_div button {

    border:1px solid var(--background_color_2);
    background-color: var(--background_color_2);
   
    padding: 1.25rem;
    border-radius: 3rem;
    
    font-size: var(--mid_font_size);
    font-weight: 600;

    margin-top: 2rem;

}



/*  ================================
    first flex box fixed
    ================================
*/
.box_1 {
    display: flex;
    text-align: center;
    padding: 2rem;
    font-size: var(--mid_font_size);

    justify-content:space-evenly;
}

.box_1 .box_1_item {
    width: 30%;
}

.box_1 .box_1_item h1 {
    color:var(--background_color_3)
}






