:root {
    
    --main-font-family : 'Karla';
    --font-color-1 : hsl(148, 38%, 91%);
    --font-color-2 : hsl(169, 82%, 27%);
    --font-color-3 : hsl(0, 66%, 54%);    

    --font-color-4 : hsl(186, 15%, 59%);
    --font-color-5 : hsl(187, 24%, 22%);
}

/* TODO : add joining togeother animation ...  */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--font-color-1);
    font-family: var(--main-font-family);


    -moz-transition: all .5s ease-in-out, left 1s ease-in-out;
    -webkit-transition: all .5s ease-in-out, left 1s ease-in-out;
    -moz-transition: all .5s ease-in-out, left 1s ease-in-out;
    -o-transition: all .5s ease-in-out, left 1s ease-in-out;
    transition: all .5s ease-in-out, left 1s ease-in-out;

}

label {
    color: var(--font-color-5);
}

.form-container {
    display: flex;
    overflow: hidden;
    background-color: white;
    padding: 2rem;
    flex-direction: column;
    border-radius:.5rem ;
    gap: 1.3rem;

    animation-name:coming-in ;
    animation-duration: .9s;
    animation-timing-function: ease-in;
}

@keyframes coming-in {
    0% {
        max-height: 0px;        
    }    
    
    100%{
        /* this is just something much bigger than the actual thing */
        max-height: 2000px; 
        
    }
}

.label{
    display: block;
    margin-bottom: .5rem;
}

label:has(+ input:required):after {
    color: var(--font-color-2);
    content: ' *';
    display:inline;
}


/* 
==================
error styling
==================
*/

.error {
    display: none;
    color: var(--font-color-3);
}


[aria-invalid="true"] ~ .error {
    display: block;
}

input[type=text],
textarea {
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border: none;
    outline:1px solid grey;
    width: 100%;          /* <-- important */
    box-sizing: border-box; /* include padding in width */
}

input[aria-invalid="true"] , textarea[aria-invalid="true"] { 
    outline: 2px solid red;
    border: none;
}

input[type=text]:focus , textarea:focus {    
    cursor: pointer;
    outline:2px solid var(--font-color-2);
}


/* 
==================
names styling
==================
*/
.names{
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

.names .name {
    flex: 1 1 250px; /* grow, shrink, min width */
}


/*
==================
emails stying
==================
*/
.emails{
    display: flex;
    flex-direction: column;
}

/* 
==================
query type styling
==================
*/
.que-type{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;

}

.que-type .inner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.que-type .inner .item label {
    display: flex;
}

.que-type .inner .item input[type=radio]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.que-type .inner .item input[type=radio] + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    display: inline-block;   

}

.que-type .inner .item input[type=radio] + label:before { 
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    outline: 1px solid grey ;
    background-color: white;    
    border-radius: 50%;
}

.que-type .inner .item input[type=radio]:checked + label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    outline:1px solid var(--font-color-2);
    background-color: white;    
    border-radius: 50%;
}

.que-type .inner .item input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    /* outline:1px solid var(--font-color-2); */
    background-color: hsl(187, 24%, 22%); ;    
    border-radius: 50%;
}

.item label {
    margin: auto 0;
}

.item {
    flex:1 1 0px;
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border: none;
    outline:1px solid grey;
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.consent .inner input {
    display: none;
}

.consent .inner  input[type=checkbox]{
    opacity: 0;
}

.consent .inner  input[type=checkbox] + label {
    position: relative;
    padding-left:30px ;
    cursor: pointer;
    display: inline-block;
}

.consent .inner  input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    outline:1px solid grey ;
    background-color: white;    
    border-radius: 50%;
}
.consent .inner  input[type=checkbox]:checked + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    outline:1px solid var(--font-color-2);
    background-color: white;    
    border-radius: 50%;
}

.consent .inner  input[type=checkbox]:checked + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-image: url("../../assets/images/icon-checkbox-check.svg");
    background-size: cover;
    border-radius: 50%;
}

.consent .inner{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.consent label {
    margin:auto 0;
}


/* 
==================
submit button styling
==================
*/
.submit-button {
    background-color: var(--font-color-2);
    justify-content: center;
    color: white;
    font-weight: 700;
    transition: all .2s;
}

.submit-button:hover {
    scale: 1.009;
    cursor: pointer;
    background-color: white;
    color: var(--font-color-5);
}

/* 
==================
success message styling
==================
*/

.success-message {
    
    display: block;
    position: absolute;
    background-color: var(--font-color-5);
    border-radius: .5rem;
    max-width: 450px;
    padding: 0rem 1rem;
    color: white;
    max-height: 0px;
    overflow: hidden; 
    top: 0px;
    transition: all .3s ease-out;    
}

.success-message:hover { 
    cursor: pointer;    
}

.success-message.forward {
    max-height: 200px;
    transform: translateY(20px);

}

/* .success-message.reverse {
    animation-name: succes-card-reverse;
    animation-duration:.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease-in ;
}

.success-message.forward {
    animation-name: succes-card;
    animation-duration: .3s; 
    animation-fill-mode: forwards;
    animation-iteration-count:1; 
    animation-timing-function: ease-out;
}

@keyframes succes-card-reverse{
    0%{
        top: 20px;
        max-height: 200px;
    }
    30%{
        top: 15px; 
    }
    40%{
        top: 20px;
    }    
    100%{
        top: 0px;  
        max-height: 0px;
    }   
}

@keyframes succes-card{
    0%{
        top: 0px;
    }
    70%{
        top: 20px; 
    }
    85%{
        top: 15px;
    }    
    100%{
        top: 20px; 
        max-height: 200px ;   
    }   
} */

.success-message .header img {
    width: 25px;
    aspect-ratio: 1;
}

.success-message .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .9rem;
}

.success-header {
     margin-bottom: 1rem;
}

.success-message .success-description {
    font-weight: 400;
    font-size: .9rem;
    color: var(--font-color-4);
    margin-top: 0px;
}


@media screen and (max-width:435px){
    :root {
        font-size: 14px;   
    }

    body { 
        height: 100vh;
    }
    .names {
        flex-direction: column;
    }
    .names .name {
        flex: 1 1 10px; /* grow, shrink, min width */
    }
    
    .que-type .inner{
        flex-direction: column;
    }
    
    .success-message {
        max-width: 250px;        
    }

}
