:root {
    --main-font-family : 'Karla';
    --font-color-1 : hsl(148, 38%, 91%);
    --font-color-2 : hsl(169, 82%, 27%);
    --font-color-3 : hsl(0, 66%, 54%);    

    --font-color-4 : hsl(186, 15%, 59%);
    --font-color-5 : hsl(187, 24%, 22%);
}

/* TODO : add joining togeother animation ...  */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--font-color-1);
    font-family: var(--main-font-family);
}

label {
    color: var(--font-color-5);
}

.form-container {
    display: flex;
    max-width: 500px;
    overflow: hidden;
    background-color: white;
    padding: 2rem;
    flex-direction: column;
    border-radius:.5rem ;
    gap: 1.3rem;

    animation-name:coming-in ;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes coming-in {
    0% {
        max-height: 0px;        
    }    
    
    100%{
        /* this is just something much bigger than the actual thing */
        max-height: 2000px; 
        
    }
}

.label{
    display: block;
    margin-bottom: .5rem;
}

label:has(+ input:required):after {
    color: var(--font-color-2);
    content: ' *';
    display:inline;
}

.error {
    display: none;
    color: var(--font-color-3);
}

input[type=text] , textarea {
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border:1px solid grey ;
}

/* 
==================
names styling
==================
*/
.names {
    display: flex;
    gap: 1rem;
    justify-content: space-between;;
}


/* 
==================
emails stying
==================
*/
.emails{
    display: flex;
    flex-direction: column;
}


/* 
==================
query type styling
==================
*/
.que-type{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;

}
.que-type .inner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.item input[type=radio]{
    scale: 1.5;
}

.item label {
    margin: auto 0;
}

.item {
    flex:1 1 0px;
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border:1px solid grey;
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.consent label {
    margin:auto 0;
}

.consent {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}


/* 
==================
submit button styling
==================
*/
.submit-button {
    background-color: var(--font-color-2);
    justify-content: center;
    color: white;
    font-weight: 700;
    transition: all .5s;
}

.submit-button:hover {
    scale: 1.009;
    background-color: white;
    color: var(--font-color-5);
}

