:root {
    
    --main-font-family : 'Karla';
    --font-color-1 : hsl(148, 38%, 91%);
    --font-color-2 : hsl(169, 82%, 27%);
    --font-color-3 : hsl(0, 66%, 54%);    

    --font-color-4 : hsl(186, 15%, 59%);
    --font-color-5 : hsl(187, 24%, 22%);
}

/* TODO : add joining togeother animation ...  */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--font-color-1);
    font-family: var(--main-font-family);
}

* {
    /* outline: 1px solid red; */
}

label {
    color: var(--font-color-5);
}

.form-container {
    display: flex;
    /* max-width: 500px; */
    overflow: hidden;
    background-color: white;
    padding: 2rem;
    flex-direction: column;
    border-radius:.5rem ;
    gap: 1.3rem;

    animation-name:coming-in ;
    animation-duration: .9s;
    animation-timing-function: ease-in;
}

@keyframes coming-in {
    0% {
        max-height: 0px;        
    }    
    
    100%{
        /* this is just something much bigger than the actual thing */
        max-height: 2000px; 
        
    }
}

.label{
    display: block;
    margin-bottom: .5rem;
}

label:has(+ input:required):after {
    color: var(--font-color-2);
    content: ' *';
    display:inline;
}


/* 
==================
error styling
==================
*/
.error {
    display: none;
    color: var(--font-color-3);
}


[aria-invalid="true"] ~ .error {
    display: block;
}

input[type=text] , textarea {
    
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border: none ;
    outline:1px solid grey ;
}

input[aria-invalid="true"] , textarea[aria-invalid="true"] { 
    outline: 2px solid red;
    border: none;
}

input[type=text]:focus , textarea:focus {
    
    cursor: pointer;
    outline:2px solid var(--font-color-2);
}


/* 
==================
names styling
==================
*/
.names {
    display: flex;
    gap: 1rem;
    justify-content: space-between;;
}



/* 
==================
emails stying
==================
*/
.emails{
    display: flex;
    flex-direction: column;
}

/* 
==================
query type styling
==================
*/
.que-type{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;

}
.que-type .inner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.item input[type=radio]{
    scale: 1.5;
}

.item label {
    margin: auto 0;
}

.item {
    flex:1 1 0px;
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border:1px solid grey;
    display: flex;
    gap: 1rem;
    align-items: baseline;
}




.consent .inner{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.consent label {
    margin:auto 0;
}


/* 
==================
submit button styling
==================
*/
.submit-button {
    background-color: var(--font-color-2);
    justify-content: center;
    color: white;
    font-weight: 700;
    transition: all .2s;
}

.submit-button:hover {
    scale: 1.009;
    cursor: pointer;
    background-color: white;
    color: var(--font-color-5);
}

/* 
==================
success message styling
==================
*/
.success-message {
    display: none;
    position: absolute;
    background-color: var(--font-color-5);
    border-radius: .5rem;
    max-width: 450px;
    padding: 0rem 1rem;
    color: white;
    top: 0px;
    
    animation-name: succes-card;
    animation-duration: .3s; 
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes succes-card{
    
    70%{
        top: 20px; 
    }
    85%{
        top: 15px;
    }    
    100%{
        top: 20px;    
    }   
}

.success-message .header img {
    width: 25px;
    aspect-ratio: 1;
}

.success-message .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .9rem;
}

.success-header {
     margin-bottom: 1rem;
}

.success-message .success-description {
    font-weight: 400;
    font-size: .9rem;
    color: var(--font-color-4);
    margin-top: 0px;
}

