:root {
    --main-font-family : 'Karla';
    --font-color-1 : hsl(148, 38%, 91%);
    --font-color-2 : hsl(169, 82%, 27%);
    --font-color-3 : hsl(0, 66%, 54%);    

    --font-color-4 : hsl(186, 15%, 59%);
    --font-color-5 : hsl(187, 24%, 22%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--font-color-1);
    font-family: var(--main-font-family);
}

label {
    color: var(--font-color-5);
}

.form-container {
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius:.5rem ;
    gap: 1rem;
}

.label{
    display: block;
    margin-bottom: .5rem;
}

label:has(+ input:required):after {
    color: var(--font-color-2);
    content: ' *';
    display:inline;
}

.error {
    display: none;
}

input[type=text] , textarea {
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border:1px solid grey ;
}

/* 
==================
names styling
==================
*/
.names {
    display: flex;
    gap: 1rem;
    justify-content: space-between;;
}



/* 
==================
emails stying
==================
*/
.emails{
    display: flex;
    flex-direction: column;
}

/* 
==================
query type styling
==================
*/
.que-type{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.item input[type=radio]{
    scale: 1.5;
}

.item label {
    margin: auto 0;
}

.item {
    flex:1 1 0px;
    border-radius:.5rem;
    padding: 1rem 2rem;
    font-size:1rem;
    border:1px solid grey;
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.messages input{
    height: 3rem;
}


.consent label {
    margin:auto 0;
}

.consent {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.submit-button {
    background-color: var(--font-color-2);
    justify-content: center;
    color: white;
    font-weight: 700;
    transition: all .5s;
}

.submit-button:hover {
    scale: 1.01;
    background-color: white;
    color: var(--font-color-5);
}
