:root {
    --font-color-1 : hsl(35, 77%, 62%);
    --font-color-2 : hsl(5, 85%, 63%);
    
    --neu-color-1 : hsl(36, 100%, 99%);
    --neu-color-2 : hsl(233, 8%, 79%);
    --neu-color-3 : hsl(236, 13%, 42%);
    --neu-color-4 : hsl(240, 100%, 5%);

    --main-font-family : 'Inter';
}

body {
    font-family: var(--main-font-family);   
}

.main-container {
    padding: 5rem 4rem;
}

.main-container .top-cotainer {
    display: flex;    
    justify-content: space-between;
    padding: 1rem;
}

.main-container .top-cotainer .navigation-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    font-size: 1.125rem;
}

.main-container .top-cotainer .navigation-bar a {
    text-decoration: none;
    color: var(--neu-color-3);
}


/* 
=====================
main content styling -first-conetnt-main
=====================
*/
.main-container .content-container .content-main{
    display: flex;
    flex-direction: row;    
}

.main-container .content-container .content-main .first-content-main{
    width: 75%;
    padding: 1rem;
}

.main-container .content-container .content-main .first-content-main .inner-first {
    display: flex;    
    padding: 1rem;
    padding-bottom:0px ;
}

.content-title {
    font-size: 4rem;
    font-weight: 800;
    color: var(--neu-color-4);
    width: 45%;
}

.content-description {
    width: 55%;
    position: relative;
}

.content-description .description {
    color: var(--neu-color-3);
}

.content-description .read-more-button {
    position: absolute;
    width: 50%;
    background-color: var(--font-color-2);
    letter-spacing: .3rem;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 800;
    font-size: 1rem;
    bottom: 0px ;
}

.main-container .content-container .content-main .first-content-main img {
    width: 100%;
    object-fit: cover;
}

/* 
=====================
main content styling second-conetnt-main
=====================
*/
.main-container .content-container .content-main .second-content-main{
    width: 25%;
    padding: 1rem;
    margin: 1rem 1rem ;
    background-color: var(--neu-color-4);
    color:white;
}


.main-container .content-container .content-main .second-content-main .other-header{
    color: var(--font-color-1);
    font-size:3rem;
}

.item .item-header {
    font-weight: 800;
    font-size: 1.5rem;
}

.item .item-question {
    color: var(--neu-color-3);    
} 

.sep {
    height: 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}



/* 
=====================
bottom stlying 
=====================
*/

.bottom {
    display: flex;
}

.bottom .bottom-item {
    flex: 1 1 0px;
    display: flex;
    padding: 1rem;
    align-items: center;
}

.bottom .bottom-item img {
    width: 40%;
    height: 60%;
    object-fit: cover;    
}

.bottom .bottom-item .inner-bottom-item {
    padding: 1rem;
    
}

.bottom .bottom-item .inner-bottom-item .bottom-number{
    font-weight: 800;
    color: var(--font-color-1);
}

.bottom .bottom-item .inner-bottom-item .bottom-title{
    font-weight: 800;
    font-size: 1.125rem;
}
.bottom .bottom-item .inner-bottom-item .bottom-description {
    color: var(--neu-color-3);

}

