:root  {
    
    /* background colors used */
    --background-color-1:#733FC8;
    --background-color-2:#49556B;
    --background-color-3:#191F2D;

    /* fonts */
    --main-font-family:'Roboto';
    --font-size-big:2rem;
    --font-size-mid:1rem;
    --font-size-small:.75rem;


    /* main paddings , border radius*/
    --main-border-radius:0.5rem;
    --main-paddings:2rem;

    /*other stuff is needed  */
}

img {
    display: block;
}

body {
    padding: 3rem;
}


.container {
    display: grid;
    gap: 1rem ;
}

.tesimonial {
    font-family: var(--main-font-family);    
    border-radius: var(--main-border-radius);
    padding: var(--main-paddings);
    box-shadow: 30px 30px 300px grey;
}

.tesimonial .prof_pic {
    border-radius: 50%;
}

.tesimonial .info-container {
    display: flex;
}


/* 
Todo : add the rest of the inner divs in the html file
*/

.tesimonial .info-container .inner {
    display: flex;
    flex-direction: column;
}

