:root {    
    --main-background :hsl(185, 41%, 84%);
    --inner-background : hsl(183, 100%, 15%);
    --reset-button-background-color : hsl(186, 14%, 43%);
    --input-background-color : hsl(189, 47%, 97%);


    --main-font-family : "Space Mono"
    

}


body {
    background-color: var(--main-background);
    font-family: var(--main-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input{
    font-family: var(--main-font-family);    
}

/* =============================
    main layout of the container
   =============================
*/
.main-div {
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    gap: 3rem;
}


/* =============================
   the info div main layout
   =============================
*/
.main-div .info-div {
    background-color: var(--inner-background);
    padding: 3rem 2rem;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px ;
}

.main-div .info-div span {
    color: var(--main-background);
}

.main-div .info-div .amounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5rem; */
    
}

.main-div .info-div .amounts .inner{
    /* width: 10rem;     */
}

.main-div .info-div .amounts .inner .first {
    color: white;
    font-weight: 700;
    font-size: .875rem;
}

.main-div .info-div .amounts .inner .second {
    color: hsl(184, 14%, 56%);
    font-size: .75rem;
}

.main-div .info-div .amounts .price{
    font-size: 2.5rem;
    font-weight: 700;
}



/* =============================
    the reset button styling
   =============================
*/.main-div .info-div #reset-button {
    width: 100%;
    margin-top: 50% ;
    font-weight: 700;
    color: white;
    background-color: var(--main-background);
    border: none;
    padding: 1rem .5rem;
    border-radius: .5rem;
}

.main-div .info-div #reset-button:hover {
    cursor: pointer;
}




/* =============================
    input div main styling
   =============================
*/
.main-div .input-div {
    flex: 1 1 0px;
    /* padding: 3rem 2rem; */
}



/* =============================
    grid items fix
    =============================
*/
.main-div .input-div .main-grid {
    display: grid;
    gap: .7rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.main-div .input-div .main-grid .item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inner-background);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
}


.main-div .input-div .main-grid .item input{
    opacity: 0;
    display: none;
}


/* =============================
    input bill amout styling
    =============================
*/
.main-div .input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-div .input-div input {
    padding: .75rem .5rem;
    width: 100%;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background-color: var(--input-background-color);
    color: var(--inner-background);
    border-radius: .5rem;
}

.main-div .input-div .input-text-bill-amount , .input-text-number-of-people, .select-tip {
    display: block;
    color: var(--inner-background);
    font-weight: 600;
    margin-bottom:.5rem ;
}

.main-div .input-div input:focus {
    outline: 3px solid var(--main-background);
}






