:root {
   --background-color: #EDF2F8;
   --main-font-family: 'Manrope';

    --color-1 : hsl(217, 19%, 35%);
    --color-2 : hsl(214, 17%, 51%);
    --color-3 : hsl(212, 23%, 69%);
    --color-4 : hsl(210, 46%, 95%);
}

/*  ========================================
    general stuff
    ========================================
*/
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 2rem;
    font-family: var(--main-font-family);
    background-color: var(--background-color);
}


/*  ========================================
    overall maincotainer styling (flex , borders)
    ========================================
*/
.main-container {
    background-color: white;
    border-radius: 0.5rem;
    max-width: 870px;
    display: flex;
    border-radius: .5rem;
    box-shadow: 5px 5px 30px grey;
}



/*  ========================================
    article image styling
    ========================================
*/
.main-container .main-image {
    aspect-ratio: 1;
    width: 30%;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    object-fit: cover;
}

.main-container .inner-container {
    padding: 3rem;
}


/*  ========================================
    header styling
    ========================================
*/
.main-container .inner-container .header{
    color: var(--color-1);
    font-weight: 700;
    font-size: 1.75rem;
}

.main-container .inner-container .description {
    color: var(--color-2);
    font-weight: 500;
    font-size: 1.125rem;
}

.main-container .inner-container .user_info {
    display: flex;
    align-items: center;
}

.main-container .inner-container .user_info .profile-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 1rem;
}

.main-container .inner-container .user_info .inner-user {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-container .inner-container .user_info .inner-user .person{    
    color: var(--color-1);
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0px;
}

.main-container .inner-container .user_info .inner-user .date{    
    color: var(--color-2);
    font-size: 1.125rem;
}

.main-container .inner-container .user_info  .share-info{
    
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    position: relative;
}


.main-container .inner-container .user_info  .share-info .share-details{
  
    display: none;
    position: absolute;
    bottom: 150%; /* places it above the button */
    left: 50%;    /* horizontally center relative to button */
    transform: translateX(-50%) translateY(-10px); /* small gap above */
    z-index: 10;
    background-color: var(--color-1);
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.main-container .inner-container .user_info  .share-info .share-details span{
    letter-spacing: .5rem;
    color: var(--color-3);
}   

.main-container .inner-container .user_info  .share-info .share-details .square{
    background-color: var(--color-1);
    width: 40px;
    height: 40px;
    position:absolute;
    transform: rotate(45deg);
    left: 40%;
    top: 50%;
    z-index: -1;
}

.main-container .inner-container .user_info  .share-info .share-details > *{
    margin: 0 .5rem;
}

.main-container .inner-container .user_info  button{
    /* background-color: var(--color-3); */
    border-radius: 50%;
    border: none;
    width: 40px;    
    height: 40px;
}

.main-container .inner-container .user_info  button:hover {
    cursor: pointer;
}

/*  ========================================
    media max-width : 620px
    ========================================
*/
@media screen and (max-width : 620px){
    body {
        padding: 5rem 2rem;
    }

    .main-container {
        flex-direction: column;
        border-radius: .5rem;
    }

    .main-container .main-image {
        width: 100%;
        border-radius: .5rem .5rem 0 0;
        object-fit: cover;
    }
    
    .main-container .inner-container .user_info {
        border-radius: 0 0 .5rem .5rem;
        margin: 0 -3rem -3rem -3rem;
        padding: 1rem 3rem;
        /* background-color: var(--color-1);     */
        flex-direction: column;
    }
    
    .main-container .inner-container .user_info .inner-user , .profile-image{
        display: none;
    }
    

    .main-container .inner-container .user_info .share-info .share-details .square {
        display: none;
    }

    .main-container .inner-container .user_info .share-info{
        width: 100%;
        flex-direction: row;        
        background-color: var(--color-1);                
        border-radius: 0 0 .5rem .5rem;
        margin: 0 -3rem -3rem -3rem;
        padding: 1rem 3rem;
        justify-content: space-between;
    }
    
    .main-container .inner-container .user_info .share-info .share-details{
        position: static;
        padding-left : 0px;
        display: flex;
        bottom: none; /* places it above the button */
        left: none;    /* horizontally center relative to button */
        transform: none; /* small gap above */
        z-index: none;
    }
}
