:root {    
    --main-background : hsl(172, 67%, 45%);
    --inner-background : hsl(183, 100%, 15%);
    --reset-button-background-color : hsl(186, 14%, 43%);
    

    --main-font-family : "Space Mono"
    

}


body {
    background-color: var(--main-background);
    font-family: var(--main-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* =============================
    main layout of the container
   =============================
*/
.main-div {
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    gap: 1rem;
}

.main-div .input-div {
    border: 1px solid black;
    width: 100%;
}




/* =============================
   the info div main layout
   =============================
*/
.main-div .info-div {
    background-color: var(--inner-background);
    padding: 3rem 2rem;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-div .info-div span {
    color: var(--main-background);
}

.main-div .info-div .amounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    
}

.main-div .info-div .amounts .inner{
    width: 10rem;    
}

.main-div .info-div .amounts .inner .first {
    color: white;
    font-weight: 700;
    font-size: .875rem;
}

.main-div .info-div .amounts .inner .second {
    color: hsl(184, 14%, 56%);
    font-size: .75rem;
}

.main-div .info-div .amounts .price{
    font-size: 2.5rem;
    font-weight: 700;
}



/* =============================
    the reset button styling
   =============================
*/.main-div .info-div #reset-button {
    width: 100%;
    margin-top: 50% ;
    font-weight: 700;
    color: white;
    background-color: var(--main-background);
    border: none;
    padding: 1rem .5rem;
    border-radius: .5rem;
}

.main-div .info-div #reset-button:hover {
    cursor: pointer;
}






