:root  {
    
    /* background colors used */
    --background-color-1:#733FC8;
    --background-color-2:#49556B;
    --background-color-3:#191F2D;

    /* fonts */
    --main-font-family:'Roboto';
    --font-size-big:2rem;
    --font-size-mid:1rem;
    --font-size-small:.75rem;


    /* main paddings , border radius*/
    --main-border-radius:0.5rem;
    --main-paddings:2rem;

    /*other stuff is needed  */
}

img{
    display: block;
}

body {
    padding: 5rem;
}

.container {
    display: grid;
    gap: 1rem ;
    grid-template-columns: 2fr 1fr 1fr ;
}

.tesimonial {
    font-family: var(--main-font-family);    
    border-radius: var(--main-border-radius);
    padding: var(--main-paddings);
    box-shadow: 30px 30px 300px grey;
}

.tesimonial .prof_pic {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.tesimonial .back {
    z-index: -1;
    position: absolute;
    justify-self:end;
    margin-right: 8%;
    width: 10vw;
}

.tesimonial:first-child{
    padding:var(--main-paddings)
}

.tesimonial .info-container {
    display: flex;    
    gap: 1rem;

    padding: var(--main-paddings) 0px 0px 0px;
}

.tesimonial .info-container .inner {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
}

.tesimonial .info-container .inner .name {
    font-size: 1.125rem;
    font-weight: 600;
}

.tesimonial .first_comment {
    font-size: 1.5rem;
    font-weight: 600;
}
