body {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: 90vh;
    font-family: 'Montserrat';
}

/* =======================================
    main_content styling
=======================================
*/
.main_content {
  margin-bottom: 10vw;
}

/* =======================================
    headers styling 
    =======================================
*/

.container .header1{
    font-size: 2rem;
    font-weight: 200;
    color: grey;
}

.container .header2{
    font-size: 2rem;
    font-weight: 700;    
}

.container .description{
    font-size: .8rem;
}

.container {

}



/* =======================================
    main flexbox styling
    =======================================
*/
.container .products{
  
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.container .products .product{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1 1 0px;
    padding: 1rem;
    text-align: start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.70rem;
    background-image: linear-gradient(orange 2%, rgba(0,0,0,0) 2%); 
}

.container .products .product:nth-child(1){
    background-image: linear-gradient(#51CDCB 2%, rgba(0,0,0,0) 2%); 
}

.container .products .product:nth-child(2){
    background-image: linear-gradient(#ED5355 2%, rgba(0,0,0,0) 2%); 
}

.container .products .product:nth-child(3){
    background-image: linear-gradient(#FBAC49 2%, rgba(0,0,0,0) 2%); 
}

.container .products .product:nth-child(4){
    background-image: linear-gradient(#5D9AE2 2%, rgba(0,0,0,0) 2%); 
}

.container .products .product h1{
    font-size: 1.125rem;
}

.container .products .product p{
    font-size: .875rem;
}

.container .products .product img{
    width: 60px;
    align-self:end;
}





