body{
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
/* ==========================================================================
    
    ==========================================================================
*/






/* ==========================================================================
    main card styling 
    ==========================================================================
*/
.card {
    width: 50%;   
    max-width: 500px; 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
}

#product_image{
    border-radius: 12px 0 0 12px;
    width: 50%;
    object-fit: cover;
}

/* ==========================================================================
    product_detail styling 
    ==========================================================================
*/

.prodcut_detail {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    overflow: hidden;
}

.prodcut_detail .product_category{
    text-align: start;
    font-family: sans-serif;
    font-size: 0.875rem;
    color:#6F6F71;    
    letter-spacing: .2rem;
}

.prodcut_detail .product_name {
    text-align: start;    
    font-size: 2rem ;
}

/* ==========================================================================
    Description styling    
    ==========================================================================
*/

.product_descripion {
    font-family: sans-serif;
    font-size: 0.875rem;
    color:#6F6F71;
    text-align: left;
    line-height: 1.3rem;
}
/* ==========================================================================
    Price Styling
    ==========================================================================
*/
.price #actual_price {
    text-decoration: line-through;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Lobster';
    margin: 1rem;

}

.price #off_price {
    font-size: 2rem;
    color: #3D8168;
    
}
.price #actual_price {
    font-family: sans-serif;
    font-size: 1rem;
    color:#6F6F71;
}

/* ==========================================================================
   Buy Button styling 
    ==========================================================================
*/
.prodcut_detail .buy_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    margin-top: auto;
    border: 1px solid #3D8168;
    background-color: #3D8168;
    padding: 0.1rem;
    border-radius: 0.65rem;
    gap: 0.5rem;
    
}

.prodcut_detail .buy_btn p{
    color: white;
    font-weight: 700;
}
