body{
    background-color: #F3EAE3;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.card {
    width: 50%;
    max-width: 500px;   
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
}

#product_image{
    border-radius: 12px 0 0 12px;
    margin: 0 auto 0 0;
    width: 50%;
    height: 100%;
}

.prodcut_detail {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.prodcut_detail .product_category{
        
}

.prodcut_detail .buy_btn {
    display: block;
    width: 100%;    
    margin-top: auto;
    border: 1px solid #3D8168;
    background-color: #3D8168;
    padding: .1rem;
    border-radius: 0.65rem;
}

.prodcut_detail .buy_btn p{
    color: white;
}

.price #actual_price {
    text-decoration: line-through;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Lobster';
    margin: 1rem ;
}

.price #off_price {
    font-size: 2rem;
    color: #3D8168;
    
}
.price #actual_price {
    font-family: sans-serif;
    font-size: 1rem;
    color:#6F6F71;
}

