:root{
    --main-bg-color:hsl(234, 29%, 20%);        
    --color-1:hsl(235, 18%, 26%);
    --color-2:hsl(0, 0%,58%);
    --color-3:hsl(0, 0%, 100%);

    --color-li:hsl(4, 100%, 67%);
}

/*  ========================================
    main body styling
    ========================================
*/
body{
    background-color: var(--main-bg-color);    
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-family: 'Roboto';
}

/*  ========================================
    sign-up container styling
    ========================================
*/
.sign-up {
    display: flex;
    background-color: var(--color-3);
    padding: 1rem;
    border-radius: 1.5rem;
    gap: 2rem;
    width: 700px;    
        
}

.sign-up .main-sign-up {
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}

.sign-up .main-sign-up .subscription-form {
    display: flex;
    flex-direction: column;
}
/*  ========================================
    bullets styling
    ========================================
*/
.sign-up .main-sign-up .bullets{
    list-style: none ;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 0;
}


.sign-up .main-sign-up .bullets li{
    font-size: .9rem;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.sign-up .main-sign-up .bullets li::before{
    content: url('../../assets/images/icon-list.svg');
    margin-right: .5rem;
    
}


/*  ========================================
    bakground right side image
    ========================================
*/
.sign-up .backimage{
    background-image: url('../../assets/images/illustration-sign-up-desktop.svg');
    flex: 1 ;
    border-radius: .5rem;
    background-size: cover;   
}

.sign-up .main-sign-up .header {
    font-weight: 700;
    font-size:2.75rem;
    margin-top: 0;
}

.sign-up .main-sign-up .description{
    font-weight: 400;
    font-size:1rem;
    margin-top: 0;
    
    
}

/*  ========================================
    form styling 
    ========================================
*/
.sign-up .main-sign-up .subscription-form .input-header {
    font-weight: 700;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.sign-up .main-sign-up .subscription-form #form-input{
    padding: 1rem;
    border-radius: .5rem;
    border:1px solid grey;
    margin-bottom: 1rem;
}
.sign-up .main-sign-up .subscription-form #form-input:hover { 
    cursor: pointer;
}
.sign-up .main-sign-up .subscription-form .submit{
    padding: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    border: none;
    color:white;
    background-color: var(--color-1);
    transition: .5s;
}

.sign-up .main-sign-up .subscription-form .submit:hover { 
    background: HSL(4, 100%, 67%);
    background: linear-gradient(90deg, rgba(255, 98, 87, 1) 49%, rgba(237, 198, 83, 1) 100%);
    cursor: pointer;
    box-shadow: 10px 10px 30px var(--color-li);           
}




/*  ========================================
    add media query at 540px 
    ========================================
*/