@import url("main-style.css");

/* 
=========================
main navigation styling 
=========================
*/
/* items images */
.item {
    display: flex;
}

.outer-image {
    width: 50%;
}

.item-images {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0 , 1fr));

    gap: 1rem;
    grid-template-areas: 
                    'main main main main'
                    'main main main main'
                    'main main main main'
                    'tum1 tum2 tum3 tum4';    
}    

.item-images input[type=radio] {
    background-color: red;
    appearance: none;
}

.item-images label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;

    transition: all .2s ease;
}

.item-images label::before {
    content: "";
    position: absolute;
    border-radius: 1rem;
    left: 0px;
    width: 0%;
    height: 100%;
    opacity: 40%;
    background-color: white ;
    transition: all .2s ease;
}

.item-images input[type=radio]:hover +label {
    cursor: pointer;
    scale: 1.02;
}

.item-images input[type=radio]:checked+label::before {
    width: 100%;
}

.item-images input[type=radio]:checked+label{
    outline: 3px solid var(--orange-color);
}

.item-images img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

/* link contaienr (left side of navigation) */
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
}

.link-container .links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.link-container a {
    text-decoration: none;
    color: var(--dark-graiesh-blue);
    font-weight: 400;
}

/* info conatiner */
.info-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-container .item-button {
    position: relative;
    background: transparent;
    border: none;
    outline: none ;
    position: relative;
}

.item-button .current-number-of-items {
    display: none;
    font-weight: 700;
    color: white;
    position: absolute; 
    background-color: var(--orange-color);
    border-radius: 50%;
    padding: .1rem .2rem;
    bottom: 2px;
    right: -2px;
}

/* .info-container #cart img{
    width: 20px; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
} */

.info-container #profile {


    position: relative;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 2s linear;
}



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.info-container #profile::after  ,.info-container #profile::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius:inherit ;
    z-index: -1;
    padding: 3px;
    background-image: conic-gradient(from var(--angle), transparent,var(--orange-color));
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        --angle : 0deg;
    }
    to {
        --angle : 360deg;
    }
}

.info-container #profile:hover::after  ,.info-container #profile:hover::before{
    cursor: pointer;   
    animation-play-state: running;
}

.info-container #profile::before{
    filter: blur(1.5rem);
    opacity: .5;
}

.info-container #profile img{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* top cart styling  */
