@import url("main-style.css");

/* 
=========================
main navigation styling 
=========================
*/
/* items images */
.item {
    display: flex;
}

.outer-image {
    width: 50%;
}

.item-images {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0 , 1fr));

    gap: 1rem;
    grid-template-areas: 
                    'main main main main'
                    'main main main main'
                    'main main main main'
                    'tum1 tum2 tum3 tum4';    
}    

.item-images input[type=radio] {
    background-color: red;
    appearance: none;
}

.item-images label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.item-images input[type=radio]:checked+label{
    outline: 3px solid var(--orange-color);
}

.item-images img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

/* link contaienr (left side of navigation) */
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
}

.link-container .links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.link-container a {
    text-decoration: none;
    color: var(--dark-graiesh-blue);
    font-weight: 400;
}

/* info conatiner */
.info-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-container .item-button {
    background: transparent;
    border: none;
    outline: none ;
    position: relative;
}

/* .info-container #cart img{
    width: 20px; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
} */

.info-container #profile img{
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* top cart styling  */
.item-button .cart-info{
    position: absolute;
    background-color: white;
    z-index: 1;
    
    /*  psotioning*/
    right: -200px;
    top: 40px;
    
    /* size of the cart box */
    width: 400px;
    height: 320px;
    
    border-radius: .5rem;
    box-shadow: 0px 20px 20px var(--gray-blue);
}

.item-button:hover {
    cursor: pointer;
}

.clear-cart-text {
    font-weight: 700;
    font-size: 1rem;
    color: var(--dark-graiesh-blue);    
}

.cart-header {
    margin-left: 20px;
    text-align: start;
    font-weight: 700;
}

.sep {
    width: 100%;
    border-bottom: 1px solid black;
}

