@import url("main-style.css");

/* 
=========================
main navigation styling 
=========================
*/
/* items images */
.item {
    display: flex;
    justify-content: center;
}

.outer-image {
    width: 40%;
}

.image:hover {
    cursor: pointer;
}


/*  close button styling */
#close-light-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.5rem ;
    right: 0px ;
    scale: 1.2;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

#close-light-box:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(51%) sepia(91%) saturate(1138%) hue-rotate(347deg) brightness(100%) contrast(102%);
}


/* next and prev styling */
#next, #prev {
    position: absolute;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: white;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    padding: 1rem;
    border-radius: 50%;
}

#next {
    top: 33%;
    right: -20px;
}

#prev {
    top: 33%;
    left: -20px;    
}

#prev div, #next div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;     /* background stays white */
    width: 24px;
    height: 24px;
}

#prev div{ 
    mask: url('../../images/icon-previous.svg') no-repeat center;
    -webkit-mask: url('../../images/icon-previous.svg') no-repeat center;
}


#next div {
    mask: url('../../images/icon-next.svg') no-repeat center;
    -webkit-mask: url('../../images/icon-next.svg') no-repeat center;
}

#next div:hover , #prev div:hover {
    cursor: pointer;
    background-color: var(--orange-color);
}

/* lightbox styling */
#lightbox {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#inner_div {
    width: 25%;
}

/* overwrite the inintal with written just below -> in (.item-images : 80% !) */
#inner_div .item-images {
    width: 100%;
}

.item-images {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0 , 1fr));

    gap: 1rem;
    grid-template-areas: 
                    'main main main main'
                    'main main main main'
                    'main main main main'
                    'tum1 tum2 tum3 tum4';    
}    

.radio-btn {
    appearance: none;
}

.radio-lbl {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;

    transition: all .2s ease;
}

.radio-lbl::before {
    content: "";
    position: absolute;
    border-radius: 1rem;
    left: 0px;
    width: 0%;
    height: 100%;
    opacity: 40%;
    background-color: white ;
    transition: all .2s ease;
}

.radio-btn:hover +.radio-lbl {
    cursor: pointer;
    scale: 1.02;
}

.radio-btn:checked+.radio-lbl::before {
    width: 100%;
}

.radio-btn:checked+.radio-lbl{
    outline: 3px solid var(--orange-color);
}

.item-images img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* mobile navigation info */
.mobile-nav {
    z-index: 4;
    background-color: transparent;
    border: none;
    outline: none;
}

#open {
    display: none;
}

#close{
    display: none;
}

.mobile-nav:hover {
    cursor: pointer;
}

.mobile-nav:active {
    cursor: pointer;
    transform: translateY(2px);
}

/* dark background  */
#op-vg {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);
}


/*  making the hidden menu*/





.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

/* link contaienr (left side of navigation) */
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
}

.link-container .links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;    
}

.link-container a {
    text-decoration: none;
    color: var(--dark-graiesh-blue);
    font-weight: 400;
    position: relative;
}

.link-container a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0px;
    bottom: -3.5rem;
    border: 0px;
    outline: 0px;
    background-color: var(--orange-color);
    transition: all 0.2s ease;
}

.link-container a:hover {
    color: black;    
}

.link-container a:hover:before{
    width: 100%;
}


/* info conatiner */
.info-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-container .item-button {
    position: relative;
    background: transparent;
    border: none;
    outline: none ;
    position: relative;
}

.item-button:hover {
    cursor: pointer;
}

.item-button:active {
    transform: translateY(1px);
}

.item-button .current-number-of-items {
    display: none;
    font-weight: 700;
    color: white;
    position: absolute; 
    background-color: var(--orange-color);
    border-radius: 50%;
    padding: .1rem .2rem;
    bottom: 2px;
    right: -2px;
}

/* .info-container #cart img{
    width: 20px; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
} */

.info-container #profile {
    position: relative;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}

.info-container #profile:hover {
    cursor: pointer;        
}

.info-container #profile:active {
    scale: 1.05;    
}


/* using property for angle so we can use it for animation */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.info-container #profile::after  ,.info-container #profile::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius:inherit ;
    z-index: -1;
    padding: 3px;
    background-image: conic-gradient(from var(--angle), transparent,var(--orange-color));
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        --angle : 0deg;
    }
    to {
        --angle : 360deg;
    }
}

.info-container #profile::before{
    filter: blur(1.5rem);
    opacity: .5;
}


.info-container #profile img{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


/* cart styling */
.basket-container {
    
    position: absolute;
    width: 350px;
    min-height: 230px;
    background-color: white;
    top: 70px;
    left: -220px;
    padding: 1rem;
    display: none;
    flex-direction: column;
    
    gap: 1rem;

    border-radius: 1rem;
    border: none;
    outline: none;
    
    box-shadow: 0px 20px 40px rgba(0, 0, 0, .3);
}

.basket-container.activate{
    display: flex;
}

.empty-error { 
    margin-top: 25%;
    text-align: center;
    color: var(--dark-graiesh-blue);
    font-weight: 700;
}

.basket-header {
    margin: 0px;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    border-bottom:1px solid var(--dark-graiesh-blue) ;
}

.item-in-cart {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;   
    margin-bottom: 1rem;
}

.product-info{
    color: var(--dark-graiesh-blue);
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info * {
    margin: 0px ;    
    display: inline;
    float: left;
}

.test {
    display: flex;
}

.item-in-cart img {
    border-radius: .5rem;
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
    object-fit: cover;   
}

.delete-product {
    background-color: var(--dark-graiesh-blue);
    mask: url('../../images/icon-delete.svg') no-repeat center;
    -webkit-mask: url('../../images/icon-delete.svg') no-repeat center;   
    height: 100%;
}

.delete-product:hover {
    cursor: pointer;
    background-color: black;
}   

.delete-product:active {
    transform: translateY(1px);    
}

#checkout {
    width: 100%;
    background-color: var(--orange-color);
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
}

#checkout:hover {
    cursor: pointer;
}

#checkout:active {
    transform: translateY(1px);    
}

