@import url("main-style.css");

/* 
=========================
main product styling
=========================
*/

/* items info */
.outer-info {
    width: 50%;
    display: flex;
}

.item-info {
    width: 60%;
    align-self: center;
    justify-self: start;
    margin-left: 5rem;
}

.company-name {
    color: var(--dark-graiesh-blue);
    font-size:1rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.item-name {
    font-weight: 700;
    font-size: 3rem;
}

.item-description {
    color: var(--dark-graiesh-blue);
    font-size: 1rem;
    font-weight: 400;
}

.pricing {
    font-weight: 700;
}

.pricing .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wrapper * {
    margin-bottom: .5rem;
}

.dis-price {
    font-size: 1.5rem;
}

.discount {
    padding: .25rem .5rem;
    background-color: black;
    color: white;
    border-radius: .25rem ;
}

.real-price {
    font-size: 1rem;
    margin-top: 0px ;
    text-decoration: line-through;    
}

.buy-section {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.number-of-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: var(--light-gray-blue);
    font-weight: 700;
    border-radius: .5rem;
}

.number-of-items button {
    background: transparent;
    outline: none;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: all .1s ease;    
}

.number-of-items button:active {
    transform: translateY(2px);        
}

/* add to cart styling */
#add-to-cart {
    width: 60%;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--orange-color);
    border:none;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    transition: all .1s ease;
}

#add-to-cart:hover{
    cursor: pointer;
}

#add-to-cart:active {
    transform: translateY(2px);    
}









