@import url("main-style.css");

/* 
=========================
main navigation styling 
=========================
*/
/* items images */
.item {
    display: flex;
    justify-content: center;
}

.outer-image {
    width: 40%;
}

.image:hover {
    cursor: pointer;
}


/*  close button styling */
#close-light-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.5rem ;
    right: 0px ;
    scale: 1.2;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

#close-light-box:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(51%) sepia(91%) saturate(1138%) hue-rotate(347deg) brightness(100%) contrast(102%);
}


/* next and prev styling */
#next, #prev {
    position: absolute;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: white;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    padding: 1rem;
    border-radius: 50%;
}

#next {
    top: 33%;
    right: -20px;
}

#prev {
    top: 33%;
    left: -20px;    
}

#prev div {
    background-color: black;     /* background stays white */
    mask: url('../../images/icon-previous.svg') no-repeat center;
    -webkit-mask: url('../../images/icon-previous.svg') no-repeat center;
    width: 24px;
    height: 24px;
}

#next div {
    background-color: black;     /* background stays white */
    mask: url('../../images/icon-next.svg') no-repeat center;
    -webkit-mask: url('../../images/icon-next.svg') no-repeat center;
    width: 24px;
    height: 24px;
}

#next div:hover , #prev div:hover {
    cursor: pointer;
    background-color: var(--orange-color);
}

/* lightbox styling */
#lightbox {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#inner_div {
    width: 25%;
}

/* overwrite the inintal with written just below -> in (.item-images : 80% !) */
#inner_div .item-images {
    width: 100%;
}

.item-images {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0 , 1fr));

    gap: 1rem;
    grid-template-areas: 
                    'main main main main'
                    'main main main main'
                    'main main main main'
                    'tum1 tum2 tum3 tum4';    
}    

.radio-btn {
    appearance: none;
}

.radio-lbl {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;

    transition: all .2s ease;
}

.radio-lbl::before {
    content: "";
    position: absolute;
    border-radius: 1rem;
    left: 0px;
    width: 0%;
    height: 100%;
    opacity: 40%;
    background-color: white ;
    transition: all .2s ease;
}

.radio-btn:hover +.radio-lbl {
    cursor: pointer;
    scale: 1.02;
}

.radio-btn:checked+.radio-lbl::before {
    width: 100%;
}

.radio-btn:checked+.radio-lbl{
    outline: 3px solid var(--orange-color);
}

.item-images img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

/* link contaienr (left side of navigation) */
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
}

.link-container .links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;    
}

.link-container a {
    text-decoration: none;
    color: var(--dark-graiesh-blue);
    font-weight: 400;
    position: relative;
}

.link-container a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0px;
    bottom: -3.5rem;
    border: 0px;
    outline: 0px;
    background-color: var(--orange-color);
    transition: all 0.2s ease;
}

.link-container a:hover {
    color: black;    
}

.link-container a:hover:before{
    width: 100%;
}


/* info conatiner */
.info-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-container .item-button {
    position: relative;
    background: transparent;
    border: none;
    outline: none ;
    position: relative;
}

.item-button .current-number-of-items {
    display: none;
    font-weight: 700;
    color: white;
    position: absolute; 
    background-color: var(--orange-color);
    border-radius: 50%;
    padding: .1rem .2rem;
    bottom: 2px;
    right: -2px;
}

/* .info-container #cart img{
    width: 20px; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
} */

.info-container #profile {


    position: relative;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 2s linear;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.info-container #profile::after  ,.info-container #profile::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius:inherit ;
    z-index: -1;
    padding: 3px;
    background-image: conic-gradient(from var(--angle), transparent,var(--orange-color));
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        --angle : 0deg;
    }
    to {
        --angle : 360deg;
    }
}

.info-container #profile:hover::after  ,.info-container #profile:hover::before{
    cursor: pointer;   
    animation-play-state: running;
}

.info-container #profile::before{
    filter: blur(1.5rem);
    opacity: .5;
}

.info-container #profile img{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}