:root {
    /* primary colors */
    --orange-color :  hsl(26, 100%, 55%);
    --pale-orange-color : hsl(25, 100%, 94%);
    
    /* secondary colors */
    --very-dark-blue : hsl(220, 13%, 13%);
    --dark-graiesh-blue : hsl(219, 9%, 45%);
    --gray-blue : hsl(220, 14%, 75%);
    --light-gray-blue : hsl(223, 64%, 98%);

    /* main fontfamily */
    --main-font-family : 'Kumbh Sans';
}


/* main body's styling */
body {
    font-family: var(--main-font-family);
    padding: 5vh 10vw;
    /* height: 100vh; */
}
