:root {
    /* primary colors */
    --orange-color :  hsl(26, 100%, 55%);
    --pale-orange-color : hsl(25, 100%, 94%);
    
    /* secondary colors */
    --very-dark-blue : hsl(220, 13%, 13%);
    --dark-graiesh-blue : hsl(219, 9%, 45%);
    --gray-blue : hsl(220, 14%, 75%);
    --light-gray-blue : hsl(223, 64%, 98%);

    /* main fontfamily */
    --main-font-family : 'Kumbh Sans';
}

/* main body's styling */
body {

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: var(--main-font-family);
    padding: 5vh 10vw;
    margin: 0px;
}

/* responsive queries */
@media (max-width : 910px){

    body {
        padding: 4vh 7vw;
    }

    .item {
        flex-direction: column;
    }

    #open {
        display: block;     
    }

    /* removing the links */
    .link-container .links {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 3;
        background-color: white;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        width: 0%;
        overflow: hidden;

        gap: 3rem;
        transition: all 200ms ease;
    }
    
    .links.active {
        width: 40%;   
    }
    
    .link-container a{
        font-weight: 800;
        font-size: 1.25rem;
        color: black;
    }
    
    .link-container a:hover:before{
        width: 0%;
    }
    
    .outer-image{
        width: 100%;
    }
    
    .item-images {
        justify-self: center;
        width: 100%;    
    }

    .outer-info {
        min-width: 100%;
    }
    
    .item-info {
        flex-grow: 1;
        width: 100%;
    }

    /* pricing */
    .pricing {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pricing .real-price {
        margin-bottom: 0px;    
    }

    .wrapper{
        align-items: center;
    }

    .dis-price {
        margin: 0px;
        padding: 0px;
    }

    .discount {
        margin: 0px;
        padding: 0px;
    }

    .real-price {
        margin: 0px;
        padding: 0px;
    }
    
    /* mobile link menu */
    .link-container {
        gap: 1rem;
        align-items: baseline;
    }

    .mobile-nav {
        display: block;
    }
    
    


}