body {
    background-color: lightblue;
    position: relative;
    height: 100vh;
}


#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 1rem;
    border: solid 2px white;
    font-size: 1.1rem;
    background:transparent;
    box-shadow: 0 0 3px;    
    transition: .5s ;
}

#open-btn:hover {
    background-color: #fff;
    color :black;
}

#model {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);  
    padding: 1rem 4rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodel;
    animation-duration:0.4s;

}

#close-btn {
    font-size: 3rem;
}

#close-btn:hover { 
    cursor: pointer;
    font-size: 3rem;
    color: red;
}

.model-container{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* model animation section */
@keyframes animatemodel {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}