:root {
    --main-color-1 : #F3EED9;
    --main-color-2 : #824936;
    --main-color-3 : #222C2A;
}

body {
    height: 300vh;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


.item:first-child{
    background-color: var(--main-color-1);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.inner-container {
    max-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item:first-child .header {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5rem;
}

.item:first-child .main {
    margin-top: 1rem;
    font-family: Playfair;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color-2);
}

.item:nth-child(2){
    padding: 3rem;      
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction:column ;
}

.item:nth-child(2) .inner-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.item:nth-child(2) .header {
    font-family: Playfair;
    font-size: 36px;
    font-weight: 900;
    color:var(--main-color-2);   
}

.item:nth-child(2) .left-div , .right-div {
    font-family: Roboto;
    font-size: 21px;
    height: 50%;
}

.item:nth-child(3) {
    
    padding: 4rem;
    background-color: var(--main-color-3);
    display: flex;
    justify-content: space-between;
    color: white;
}

.item:nth-child(3) .text-div { 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.item:nth-child(3) .text-div .inner {
    width: 50%;    
}

.item:nth-child(3) .text-div .inner .header{
    font-family: Playfair;
    font-weight: 700;    
}

.item:nth-child(3) .image-cotainer img {
    width: 100%;
    height: 100%;
    border: none;
}


.item:nth-child(4) {
    padding: 4rem;
    background-color: var(--main-color-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.item:nth-child(4) .text-div { 
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 7rem;
}

.item:nth-child(4) .text-div .inner {
    width: 30%;
    align-self: start;
}

.item:nth-child(4) .text-div .inner .header{
    font-family: Playfair;
    font-weight: 800;
    font-size: 34px ;    
}

.item:nth-child(4) .image-cotainer img {
    width: 100%;
    height: 100%;
    border: none;
}


@media screen and (max-width:500px){
    
    .item:nth-child(3) {
        flex-direction: column;
    }    

    .item:nth-child(4) .text-div{
        flex-direction: column;
    }


}